{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="app-content content" style="margin-left:-20px">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Add New Case</h3>
        </div>
      </div>
      <div class="content-body">
        <!-- Basic Inputs start -->

        <section class="textarea-select">
          <!-- Textarea start -->
          <div class="row match-height">
            <div class="col-lg-12 col-md-12">
              <div class="card mt-50">
                <div class="card-block">
                  <div class="card-body">
                    <form enctype="multipart/form-data" action="{% url 'addCase' %}" method='POST'>
                      {% csrf_token %}
                      <div class="row">
                        <fieldset class="form-group col-lg-12">
                          <h5 class="mt-2">User</h5>
                          <select class="form-control" id="basicSelect" name="cid">
                            <option value="">Select user</option>

                            {% for user in users%}
                            <option value={{user.id}}>{{user.FirstName}}</option>
                            {%endfor%}
                            
                          </select>
                        </fieldset>
                      </div>
                      <div class="row">
                        <fieldset class="form-group col-lg-12">
                          <h5 class="mt-2">Symptoms</h5>
                          <select class="form-control" id="basicSelect" name="symptom">
                            <option>Select Symptoms</option>
                              <option>Abortion</option>
                              <option>Vomitting blood</option>
                              <option>Loose appetit</option>
                              <option>Excessive Bleeding</option>
                              <option>Swelling brain</option>
                              <option>Ocular disease</option>
                              <option>Gum bleeding</option>
                              <option>Nose bleeding</option>
                              <option>Weakness</option>
                          </select>
                        </fieldset>
                      </div>
                      <div class="row">
                        <fieldset class="form-group col-lg-12">
                          <h5 class="mt-2">Cattle type</h5>
                          <select class="form-control" id="basicSelect" name="Ctype">
                            <option>Select cattle type</option>
                            <option>Inka zikamwa</option>
                            <option>Inka zihaka</option>
                            <option>Ishashi</option>
                            <option>Ikimasa</option>
                            <option>Inyana</option>
                          </select>
                        </fieldset>
                      </div>
                      <h5 class="mt-2">Picture</h5>
                      <fieldset class="form-group">
                        <input type="file" class="form-control" id="basicInput" name="images" />
                      </fieldset>
                      <h5 class="mt-2">Description</h5>
                      <fieldset class="form-group">
                        <textarea class="form-control" name="Msg" id="basicTextarea" rows="3"></textarea>
                      </fieldset>
                      <div class="form-group">
                        <button type="submit" class="btn mb-1 btn-info btn-lg btn-block">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Textarea end -->
        </section>
      </div>
    </div>
  </div>
{% endblock %}
